[submodule ".snowsaw"]
	path = .snowsaw
	url = https://github.com/arcticicestudio/snowsaw
[submodule "snowblocks/zsh/zplug"]
	path = snowblocks/zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "snowblocks/neovim/pack/autocomplete/opt/ultisnips"]
	path = snowblocks/neovim/pack/autocomplete/opt/ultisnips
	url = https://github.com/Sirver/ultisnips.git
[submodule "snowblocks/neovim/pack/clojure/opt/vim-fireplace"]
	path = snowblocks/neovim/pack/clojure/opt/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "snowblocks/neovim/pack/colorschemes/opt/nova-vim"]
	path = snowblocks/neovim/pack/colorschemes/opt/nova-vim
	url = https://github.com/trevordmiller/nova-vim.git
[submodule "snowblocks/neovim/pack/colorschemes/opt/inkstained-vim"]
	path = snowblocks/neovim/pack/colorschemes/opt/inkstained-vim
	url = https://github.com/yuttie/inkstained-vim.git
[submodule "snowblocks/neovim/pack/default/opt/vim-prosession"]
	path = snowblocks/neovim/pack/default/opt/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession.git
[submodule "snowblocks/neovim/pack/default/start/FastFold"]
	path = snowblocks/neovim/pack/default/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "snowblocks/neovim/pack/default/start/ale"]
	path = snowblocks/neovim/pack/default/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "snowblocks/neovim/pack/default/start/searchfold.vim"]
	path = snowblocks/neovim/pack/default/start/searchfold.vim
	url = https://github.com/vim-scripts/searchfold.vim.git
[submodule "snowblocks/neovim/pack/default/start/vim-dispatch"]
	path = snowblocks/neovim/pack/default/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "snowblocks/neovim/pack/default/start/vim-dispatch-neovim"]
	path = snowblocks/neovim/pack/default/start/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim.git
[submodule "snowblocks/neovim/pack/default/start/vim-obsession"]
	path = snowblocks/neovim/pack/default/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "snowblocks/neovim/pack/default/start/vim-polyglot"]
	path = snowblocks/neovim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "snowblocks/neovim/pack/default/start/vim-scriptease"]
	path = snowblocks/neovim/pack/default/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "snowblocks/neovim/pack/editing/start/file-line"]
	path = snowblocks/neovim/pack/editing/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule "snowblocks/neovim/pack/editing/start/vim-commentary"]
	path = snowblocks/neovim/pack/editing/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "snowblocks/neovim/pack/editing/start/vim-endwise"]
	path = snowblocks/neovim/pack/editing/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "snowblocks/neovim/pack/editing/start/vim-exchange"]
	path = snowblocks/neovim/pack/editing/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "snowblocks/neovim/pack/editing/start/vim-highlightedyank"]
	path = snowblocks/neovim/pack/editing/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "snowblocks/neovim/pack/editing/start/vim-repeat"]
	path = snowblocks/neovim/pack/editing/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "snowblocks/neovim/pack/editing/start/vim-sleuth"]
	path = snowblocks/neovim/pack/editing/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "snowblocks/neovim/pack/editing/start/vim-surround"]
	path = snowblocks/neovim/pack/editing/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "snowblocks/neovim/pack/frontend/opt/vim-css-color"]
	path = snowblocks/neovim/pack/frontend/opt/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "snowblocks/neovim/pack/navigation/start/RootIgnore"]
	path = snowblocks/neovim/pack/navigation/start/RootIgnore
	url = https://github.com/octref/RootIgnore.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-bbye"]
	path = snowblocks/neovim/pack/navigation/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-delete-hidden-buffers"]
	path = snowblocks/neovim/pack/navigation/start/vim-delete-hidden-buffers
	url = https://github.com/arithran/vim-delete-hidden-buffers.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-dirvish"]
	path = snowblocks/neovim/pack/navigation/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-eunuch"]
	path = snowblocks/neovim/pack/navigation/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-projectionist"]
	path = snowblocks/neovim/pack/navigation/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-rooter"]
	path = snowblocks/neovim/pack/navigation/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-sneak"]
	path = snowblocks/neovim/pack/navigation/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-tmux-navigator"]
	path = snowblocks/neovim/pack/navigation/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-unimpaired"]
	path = snowblocks/neovim/pack/navigation/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "snowblocks/neovim/pack/navigation/start/vim-visualstar"]
	path = snowblocks/neovim/pack/navigation/start/vim-visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "snowblocks/neovim/pack/ruby/opt/vim-bundler"]
	path = snowblocks/neovim/pack/ruby/opt/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "snowblocks/neovim/pack/ruby/opt/vim-cucumber"]
	path = snowblocks/neovim/pack/ruby/opt/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "snowblocks/neovim/pack/ruby/opt/vim-rails"]
	path = snowblocks/neovim/pack/ruby/opt/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "snowblocks/neovim/pack/version_control/start/gist-vim"]
	path = snowblocks/neovim/pack/version_control/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "snowblocks/neovim/pack/version_control/start/vim-diff-fold"]
	path = snowblocks/neovim/pack/version_control/start/vim-diff-fold
	url = https://github.com/sgeb/vim-diff-fold.git
[submodule "snowblocks/neovim/pack/version_control/start/vim-fugitive"]
	path = snowblocks/neovim/pack/version_control/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "snowblocks/neovim/pack/version_control/start/vim-git"]
	path = snowblocks/neovim/pack/version_control/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "snowblocks/neovim/pack/version_control/start/webapi-vim"]
	path = snowblocks/neovim/pack/version_control/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "snowblocks/neovim/pack/window_management/start/vim-maximizer"]
	path = snowblocks/neovim/pack/window_management/start/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule "snowblocks/neovim/pack/colorschemes/start/lumiere.vim"]
	path = snowblocks/neovim/pack/colorschemes/start/lumiere.vim
	url = https://github.com/alexanderjeurissen/lumiere.vim.git
[submodule "snowblocks/neovim/pack/navigation/start/fzf"]
	path = snowblocks/neovim/pack/navigation/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "snowblocks/neovim/pack/colorschemes/opt/Breve"]
	path = snowblocks/neovim/pack/colorschemes/opt/Breve
	url = https://github.com/AlessandroYorba/Breve.git
[submodule "snowblocks/neovim/pack/colorschemes/opt/vim-colors-plain"]
	path = snowblocks/neovim/pack/colorschemes/opt/vim-colors-plain
	url = https://github.com/nerdypepper/vim-colors-plain.git
[submodule "snowblocks/neovim/pack/editing/opt/vim-journal"]
	path = snowblocks/neovim/pack/editing/opt/vim-journal
	url = https://github.com/junegunn/vim-journal.git
[submodule "snowblocks/neovim/pack/random/opt/vim-keysound"]
	path = snowblocks/neovim/pack/random/opt/vim-keysound
	url = https://github.com/skywind3000/vim-keysound.git
[submodule "snowblocks/neovim/pack/colorschemes/opt/space-vim-theme"]
	path = snowblocks/neovim/pack/colorschemes/opt/space-vim-theme
	url = https://github.com/liuchengxu/space-vim-theme.git
[submodule "snowblocks/neovim/pack/colorschemes/start/vim-solarized8"]
	path = snowblocks/neovim/pack/colorschemes/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "snowblocks/neovim/pack/colorschemes/start/AfterColors.vim"]
	path = snowblocks/neovim/pack/colorschemes/start/AfterColors.vim
	url = https://github.com/vim-scripts/AfterColors.vim.git
