.DS_Store
elpa
snowblocks/neovim/sessions/
snowblocks/neovim/UndoHistory/
snowblocks/neovim/.netrwhist
snowblocks/neovim/plugged/
snowblocks/neovim/spell/
snowblocks/neovim/pack/
__pycache__/
*.orig
*~
