snippet lprint "print local variable" b
print "${1:test:} %(${2:variable})" % locals()${0}
endsnippet

snippet pyhead "add info for bash to execute this file using python" b
#!/usr/local/bin/python
endsnippet

snippet debugger "add debug statement" b
code.interact(local=locals())${0}
endsnippet
